//- set default value for counter to 0
//- - var counter = 0
doctype html
html
    head
        title playlistMaker
        link(rel='stylesheet', href='home.css', type='text/css')
        //- link htmx
        script(src='https://unpkg.com/htmx.org@1.9.9')
        script.
            function toggleDropdown() {
                var dropdownContent = document.querySelector('.dropdown-content');
                if (dropdownContent.style.display === 'none') {
                    dropdownContent.style.display = 'block';
                } else {
                    dropdownContent.style.display = 'none';
                }
            }

                
    body
        #navbar
            a#home(href='/') playlistMaker
            if user_id
                div#userDetails.dropdown
                    //- profile picture
                    if profile_pic
                        img#profilePic.dropdown-toggle(src=profile_pic, onclick='toggleDropdown()', title=user_id)
                    else
                        img#profilePic.dropdown-toggle(src='http://localhost:4000/default.jpg', onclick='toggleDropdown()', title=user_id)
                    div.dropdown-content(style='display: none;')
                        a#signout(href='/signout') Sign Out
            else
                a#signin(href='/login') Login
        #main
            if !user_id
                h1#loginmessage Please login with spotify to get started
            else 
                #playlistResults
                    if user_playlists.length == 0
                        h1#playlistResultsHeader #{user_id} has no playlists
                    else
                        h1#playlistResultsHeader #{user_id}'s playlists
                        each playlist in user_playlists
                            //- image of playlist
                            #playlist
                                #playlistLeft
                                    if playlist.images[0]
                                        img#playlistimg(src=playlist.images[0].url)
                                    else
                                        img#playlistimg(src='http://localhost:4000/default.jpg')
                                    #playlistmetadata 
                                        a(href=playlist.external_urls.spotify) View on Spotify
                                        h3 #{playlist.tracks.total} tracks
                                #playlistactions
                                    form#addSongsForm(action='/addSongs', method='POST')
                                        input(type='hidden', name='playlist_id', value=playlist.id)
                                        input(type='number', name='num_songs', placeholder='Number of songs to add', min='1', max='100')
                                        input(type='submit', value='Add Songs')
                                    button#deleteButton Delete Playlist
                                

                

    
        


        

                    

