//- set default value for counter to 0
//- - var counter = 0
doctype html
html
    head
        title My Pug Page
        link(rel='stylesheet', href='style.css', type='text/css')
        //- link htmx
        script(src='https://unpkg.com/htmx.org@1.9.9')
        script.
            function toggleDropdown() {
                var dropdownContent = document.querySelector('.dropdown-content');
                if (dropdownContent.style.display === 'none') {
                    dropdownContent.style.display = 'block';
                } else {
                    dropdownContent.style.display = 'none';
                }
            }

                
    body
        #navbar
            a#home(href='/') playlistMaker
            if user_id
                div#userDetails.dropdown
                    //- profile picture
                    if profile_pic
                        img#profilePic.dropdown-toggle(src=profile_pic, onclick='toggleDropdown()', title=user_id)
                    else
                        img#profilePic.dropdown-toggle(src='http://localhost:4000/default.jpg', onclick='toggleDropdown()', title=user_id)
                    div.dropdown-content(style='display: none;')
                        a#signout(href='/signout') Sign Out
            else
                a#signin(href='/login') Login
        #main
            if !user_id
                h1#loginmessage Please login with spotify to get started
            else 
                #playlistResults
                    h1#playlistResultsHeader #{user_id}'s playlists
                    each playlist in user_playlists
                        //- image of playlist
                        #playlist
                            img#playlistimg(src=playlist.images[0].url, title=playlist.name, onclick='window.location.href="/playlist/" + playlist.id')
                            h2#playlistname= playlist.name

                

    
        


        

                    

